[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-model-utils = "*"
django-rest-auth = {extras = ["with-social"], version = "*"}
django-allauth = "*"
django-extended-choices = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
